.loader {
    border: 3px solid #ddd; /* Light grey */
    border-top: 3px solid #222; /* Blue */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.my-element.ng-hide-add, .my-element.ng-hide-remove {
    transition: all 0.5s linear;
}
